{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/contact-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          {% if msg_sent: %}
          <h1>{{ _("Successfully sent your message") }}</h1>
          {% else: %}
          <h1>{{ _("Contact Me") }}</h1>
          {% endif %}
          <span class="subheading">{{ _("Have questions? I have answers") }}.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>{{ _("
          Want to get in touch? Fill out the form below to send me a message and
          I will get back to you as soon as possible!
          ") }}
        </p>
        <div class="my-5">
          <!-- * * * * * * * * * * * * * * *-->
          <!-- * * Simplified SB Contact Form for the Tutorial* *-->
          <form
            id="contactForm"
            name="sentMessage"
            action="{{ url_for('contact') }}"
            method="post"
          >
            <div class="form-floating">
              <input
                class="form-control"
                id="name"
                name="name"
                type="text"
                placeholder={{ _("Enter your name...") }}
                required
              />
              <label for="name">{{ _("Name") }}</label>
            </div>
            <div class="form-floating">
              <input
                class="form-control"
                id="email"
                name="email"
                type="email"
                placeholder={{ _("Enter your email...") }}
                required
              />
              <label for="email">{{ _("Email address") }}</label>
            </div>
            <div class="form-floating">
              <input
                class="form-control"
                id="phone"
                name="phone"
                type="tel"
                placeholder={{ _("Enter your phone number...") }}
                required
              />
              <label for="phone">{{ _("Phone Number") }}</label>
            </div>
            <div class="form-floating">
              <textarea
                class="form-control"
                id="message"
                name="message"
                placeholder={{ _("Enter your message here...") }}
                required
                style="height: 12rem"
              ></textarea>
              <label for="message">{{ _("Message") }}</label>
            </div>
            <br />
            <button
              class="btn btn-danger text-uppercase"
              id="submitButton"
              type="submit"
            >
            {{ _("NOT USED in Day 69") }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
