{% extends "header.html" %}
{% block content %}
<div class="container mt-5">
    <h1>{{ _("Notification Preferences") }}</h1>
    <form method="POST">
        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="notify" name="notify"
                   {% if current_user.receive_notifications %}checked{% endif %}>
            <label class="form-check-label" for="notify">
                {{ _("Receive email notifications for new posts") }}
            </label>
        </div>
        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="reply_notify" name="reply_notify"
                   {% if current_user.receive_reply_notifications %}checked{% endif %}>
            <label class="form-check-label" for="reply_notify">
                {{ _("Notify me when someone replies to my comments") }}
            </label>
        </div>
        <button type="submit" class="btn btn-primary">{{ _("Save Preferences") }}</button>
    </form>
</div>
{% endblock %}